@import 'tailwindcss';

@theme {
    --color-orange-bg: #251712;
    --color-orange-inc: #FF4B18;

    --color-blue-bg: #0C0029;
    --color-blue-inc: #01EDFF;

    --color-yellow-bg: #22041D;
    --color-yellow-inc: #FEFE00;

    --color-green-bg: #072913;
    --color-green-inc: #00FF3F;
   

  /*  Heading Medium */
  --text-heading-md: 4.5rem;
  --text-heading-md--line-height: 1;
  --text-heading-md--font-weight: 700;
  --text-heading-md--letter-spacing: -0.02em;



  /*  Title Medium */
  --text-title-md: 2rem;
  --text-title-md--line-height: 1;
  --text-title-md--font-weight: 700;
  --text-title-md--letter-spacing: -0.02em;

  /*  Body Medium */
  --text-body-md: 1.125rem;
  --text-body-md--line-height: 1.3;
  --text-body-md--font-weight: 300;
  --text-body-md--letter-spacing: 0em;

  /*  Body Small */
  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.3;
  --text-body-sm--font-weight: 300;
  --text-body-sm--letter-spacing: 0em;

  /*  Button Large */
  --text-btn-lg: 1.125rem;
  --text-btn-lg--line-height: 1;
  --text-btn-lg--font-weight: 700;
  --text-btn-lg--letter-spacing: 0em;

  /*  Button Small */
  --text-btn-sm: 0.875rem;
  --text-btn-sm--line-height: 1;
  --text-btn-sm--font-weight: 700;
  --text-btn-sm--letter-spacing: 0em;

}