@import 'tailwindcss';

@theme {
    --color-orange-bg: #251712;
    --color-orang-inc: #FF4B18;

    --color-blue-bg: #0C0029;
    --color-blue-inc: #01EDFF;

    --color-yellow-bg: #22041D;
    --color-yellow-inc: #FEFE00;

    --color-green-bg: #072913;
    --color-green-inc: #00FF3F;
   

    /*  Display Large */
  --text-display-lg: 10rem;
  --text-display-lg--line-height: 1;
  --text-display-lg--font-weight: 700;
  --text-display-lg--letter-spacing: -0.02em;

  /*  Display Medium */
  --text-display-md: 8rem;
  --text-display-md--line-height: 1;
  --text-display-md--font-weight: 700;
  --text-display-md--letter-spacing: -0.02em;

  /*  Display Small */
  --text-display-sm: 6rem;
  --text-display-sm--line-height: 1;
  --text-display-sm--font-weight: 700;
  --text-display-sm--letter-spacing: -0.02em;

  /*  Heading Large */
  --text-heading-lg: 5rem;
  --text-heading-lg--line-height: 1;
  --text-heading-lg--font-weight: 700;
  --text-heading-lg--letter-spacing: -0.02em;

  /*  Heading Medium */
  --text-heading-md: 4.5rem;
  --text-heading-md--line-height: 1;
  --text-heading-md--font-weight: 700;
  --text-heading-md--letter-spacing: -0.02em;

  /*  Heading Small */
  --text-heading-sm: 4rem;
  --text-heading-sm--line-height: 1;
  --text-heading-sm--font-weight: 700;
  --text-heading-sm--letter-spacing: -0.02em;

  /*  Title Large */
  --text-title-lg: 3rem;
  --text-title-lg--line-height: 1;
  --text-title-lg--font-weight: 700;
  --text-title-lg--letter-spacing: -0.02em;

  /*  Title Medium */
  --text-title-md: 2rem;
  --text-title-md--line-height: 1;
  --text-title-md--font-weight: 700;
  --text-title-md--letter-spacing: -0.02em;

  /*  Title Small */
  --text-title-sm: 1.5rem;
  --text-title-sm--line-height: 1;
  --text-title-sm--font-weight: 700;
  --text-title-sm--letter-spacing: -0.02em;

  /*  Body Large */
  --text-body-lg: 1.375rem;
  --text-body-lg--line-height: 1.3;
  --text-body-lg--font-weight: 300;
  --text-body-lg--letter-spacing: 0em;

  /*  Body Medium */
  --text-body-md: 1.125rem;
  --text-body-md--line-height: 1.3;
  --text-body-md--font-weight: 300;
  --text-body-md--letter-spacing: 0em;

  /*  Body Small */
  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.3;
  --text-body-sm--font-weight: 300;
  --text-body-sm--letter-spacing: 0em;

  /*  Button Large */
  --text-btn-lg: 1.125rem;
  --text-btn-lg--line-height: 1;
  --text-btn-lg--font-weight: 700;
  --text-btn-lg--letter-spacing: 0em;

  /*  Button Small */
  --text-btn-sm: 0.875rem;
  --text-btn-sm--line-height: 1;
  --text-btn-sm--font-weight: 700;
  --text-btn-sm--letter-spacing: 0em;

  /*  Eyebrow */
  --text-eyebrow: 0.75rem;
  --text-eyebrow--line-height: 1;
  --text-eyebrow--font-weight: 700;
  --text-eyebrow--letter-spacing: 0em;

  /*  Label */
  --text-label: 0.75rem;
  --text-label--line-height: 1;
  --text-label--font-weight: 300;
  --text-label--letter-spacing: 0em;

  --text-default: 0.75rem;
  --text-default--line-height: 1.3;
  --text-default--font-weight: 300;
  --text-default--letter-spacing: 0em;

  
}