---
import "../styles/global.css";
import "../styles/main.css";
import Background from "../components/Background.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Background</title>
  </head>
  <body class="overflow-hidden h-screen">
    <Background client:load />
  </body>
</html>
