---
import "../styles/global.css";
import SpinTheBottle from "../components/spinTheBottle.vue";
import IntroScreen from "../components/IntroScreen.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
  </head>
  <body class="overflow-hidden h-screen">
    <IntroScreen client:load />
    <SpinTheBottle client:load />
  </body>
</html>


