---
import "../styles/global.css";
import App from "../components/App.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
  </head>
  <body class="overflow-hidden h-screen">
    <App client:load />
  </body>
</html>


