---
import "../styles/global.css";
import SpinTheBottle from "../components/spinTheBottle.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
  </head>
  <body>
    <SpinTheBottle client:load />
  </body>
</html>


