---
import "../styles/global.css";
import "../styles/main.css";
import Test from "../components/Test.vue";
import Background from "../components/Background.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
  </head>
  <body class="overflow-hidden h-screen">
    <Test client:load />
    <!--<Background client:load /> -->
  </body>
</html>
